<div class="container">
    <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <span>Patient DashBoard</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <div class="search-div">
        <button mat-raised-button (click)="onCreate()">
            <mat-icon>add</mat-icon>Create
        </button>
        <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
        <mat-table [dataSource]="listData" matSort matSortStart="desc">
            <ng-container matColumnDef="Name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Gender">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Gender</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.gender}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Email">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Email Id</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Disease">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Disease</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.disease}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Mobile">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.number}}</mat-cell>
            </ng-container>
            <!-- <ng-container matColumnDef="Admitted">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Admit Date</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.admitted}}</mat-cell>
            </ng-container> -->
            <ng-container matColumnDef="Action">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="onEdit(row)">
                        <mat-icon>launch</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="onDelete(row)">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    Loading Data....
                </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    No Data....
                </mat-footer-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']"
                [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
</div>